/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html{
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  /* to make footer at bottom */
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color:   rgb(19, 16, 16);
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}