.container {
    max-width: 450px;
    height: 625px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color:#4237FF;
  }
  
  form {
    display: flex;
    flex-direction: column;
    outline: 1px solid #4237FF;
    padding: 20px;
  }

  input[type="text"],input[type="email"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #696969;
  }
  
  input[type="submit"] {
    background-color: #4237FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    max-width: 200px;
    text-decoration: none;
    border-radius: 4px;
  }

  a {
    color: blue;
    text-decoration: none;
  }
  .error-message {
    color: red;
    margin-top: 5px;
  } 